@import '@gitlab/ui/src/tokens/build/scss/tokens.dark';

$gray-light: lighten($gray-10, 2);
$gray-lighter: darken($gray-50, 4);

$black-normal: $gray-900;

$border-color: #4f4f4f;

$gl-text-color-secondary: $gray-700;

$body-bg: $gray-10;
$input-bg: $white;
$input-focus-bg: $white;
$input-color: $gray-900;
$input-group-addon-bg: $gray-900;

$card-cap-bg: $gray-50;

$tooltip-bg: $gray-800;
$tooltip-color: $gray-10;

$popover-color: $gray-950;
$popover-box-shadow: 0 2px 3px 1px $gray-700;
$popover-arrow-outer-color: $gray-800;

$secondary: $gray-700;

$yiq-text-dark: $gray-50;
$yiq-text-light: $gray-950;

// Commit Diff Colors
$line-added-dark: $green-200;
$line-removed-dark: $red-200;

$well-expand-item: $gray-200;
